$desktop: 1025px;

@import '~bulma/bulma';

//Colors

$main-font-color: #433D3F;

$primary-one: #AC3B61;
$primary-two: #123C69;
$primary-three: #9e9498;

$primary-one-hover: #be416b;
$primary-two-hover: #154b84;
$primary-three-hover: #aaa1a5;

$white: white;
$lt-gray: #f3f2f2;

//Skill level gradients
$primary-two-gradient1: #2170c4;
$primary-two-gradient2: #1a5799;
$primary-two-gradient3: #5197e1;
$primary-two-gradient4: #257cda;
$primary-two-gradient5: #92beed;
$primary-two-gradient6: #66a4e5;
$primary-two-gradient7: #d3e5f8;