$desktop: 1025px;
$primary: #EA5C86;

@import '~bulma/bulma';

//html body {
//  min-height: 100vh;
//}

//Colors
//Monokai Color Theme
$dark: #2C292D;
$white: white;

$pink: #EA5C86;
$orange: #F09765;
$yellow: #FBD765;
$green: #A9DC76;
$blue: #78DCE7;
$purple: #AA9DF2;